
.imgDog{
position:relative;
  height: 40vh;
  width: 40vh;
  background-color: rgb(181, 146, 129); 
  border-radius: 100%;
  object-fit:contain;
}

.btn1{
  position: absolute;
  top: 80%;
  left: 5%;
  transform: translate(-50%, -50%); 
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  cursor: pointer; 
}

.btn2{
  position: absolute;
  top: 80%;
  left: 95%;
   transform: translate(-50%, -50%); 
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
 
 
}
